/*! -------------------------------------------------
 *	Enter Details here.
 *  -------------------------------------------------
 */

// Base Compass Imports, Custom Variables and Mixins
// --------------------------------------------------
@import "_variables";
@import "_mixins";
@import "compass/css3";

// CSS Framework Imports
// --------------------------------------------------
@import "lib/reset.scss";
@import "lib/typography.scss";
@import "lib/grid.scss";
@import "lib/forms.scss";
@import "lib/buttons.scss";
@import "lib/tables.scss";

@import "lib/helpers.scss";

.content-contain {
//	@include row;
	margin: 1rem auto;
	width: 1140px;
	border: 3px solid $color-palette-tertiary;
}

.main-header {
	position: relative;
	padding: 2rem 5rem;
	background-color: $color-palette-quadrary;
	border-bottom: 3px solid $color-palette-tertiary;
}
.aj-logo,
.prototypesplus-logo {
	overflow: hidden;
	text-indent: -9999px;
	position: relative;
}
.aj-logo {
	margin: 0;
	float: right;
	
	top: -2rem;
	width: 264px;
	height: 244px;
	background: transparent url('/assets/img/aj-logo.png') no-repeat center center;
	a {
		display: block;
		height: 100%;
		width: 100%;
		&:hover {
			border-bottom: 0;
		}
	}
}
.prototypesplus-logo {
	top: 0;
	width: 554px;
	height: 99px;
	background: transparent url('/assets/img/prototypesplus-logo.png') no-repeat center center;
	margin-bottom: 2rem;
}

.highlight {
	color: $highlight-color;
}

.primary-column {
	ul { @include row; }
	li { @include col-five; }
}

[class*="-column"] {
	padding: 2rem 5rem;
}
.secondary-column {
	background-color: $color-palette-secondary;
	border-top: 5px solid $color-palette-primary;
}

.footer {
	p {
		margin: 0;
		font-size: .8rem;
		padding: .5rem;
		line-height: 1;
	}
	a {
		color: $blessing;
		font-weight: bold;
	}
	color: $blessing;
	background-color: $color-palette-tertiary;
}


// Print Styles Here
// --------------------------------------------------
@media print {
	
}