/* -------------------------------------------------
 *	Enter Details here.
 *  -------------------------------------------------
 */
/* -----------------------------------------------------------------------------
  
   Boilerplate reset.css
   * Resets default browser CSS.

	Versions
	0.1    2011-02-17    - Initial Creation and Development
	                     - Added HTML5 reset from Eric Meyer

	0.2    2011-09-18    - Adding itrems from HTML5 Boilerplate
	
	0.3    2012-02-06    - Added box-sizing attribute per Paul Irish
   
   -------------------------------------------------------------------------- */
/* apply a natural box layout model to all elements: http://paulirish.com/2012/box-sizing-border-box-ftw/ */
/* line 17, ../sass/lib/reset.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 30, ../sass/lib/reset.scss */
html, body, div,
article, aside, figure, footer, header, hgroup, nav, section,
span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, code, del, dfn, rem, i, img, q,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* -----------------------------------------------------------------------------
   HTML5 elements
   -------------------------------------------------------------------------- */
/* line 44, ../sass/lib/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, nav, section {
  display: block;
}

/* line 45, ../sass/lib/reset.scss */
audio[controls], canvas, video {
  display: inline-block;
}

/* -----------------------------------------------------------------------------
   Base
   -------------------------------------------------------------------------- */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using rem units
 *    http://clagnut.com/blog/348/#c790
 * 2. Force vertical scrollbar in non-IE
 * 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
/* These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink! */
/* line 65, ../sass/lib/reset.scss */
::-moz-selection {
  background: rgba(19, 147, 148, 0.5);
  color: #fff;
  text-shadow: none;
}

/* line 66, ../sass/lib/reset.scss */
::selection {
  background: rgba(19, 147, 148, 0.5);
  color: #fff;
  text-shadow: none;
}

/* line 70, ../sass/lib/reset.scss */
nav ul {
  list-style: none;
}

/* line 71, ../sass/lib/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 74, ../sass/lib/reset.scss */
caption,
th,
td {
  text-align: left;
  font-weight: 400;
}

/* line 81, ../sass/lib/reset.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

/* line 82, ../sass/lib/reset.scss */
q, blockquote {
  quotes: "" "";
}

/* line 83, ../sass/lib/reset.scss */
input, textarea {
  margin: 0;
}

/* line 84, ../sass/lib/reset.scss */
input, select {
  vertical-align: middle;
}

/* line 86, ../sass/lib/reset.scss */
abbr[title],
dfn[title] {
  border-bottom: 1px dotted black;
  cursor: help;
}

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
/* line 93, ../sass/lib/reset.scss */
a:hover, a:active {
  outline: none;
}

/* line 95, ../sass/lib/reset.scss */
hr {
  display: block;
  height: 1px;
  margin: 1rem 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #cccccc;
}

/* line 105, ../sass/lib/reset.scss */
img,
a img {
  border: 0;
}

/* bicubic resizing for non-native sized IMG: code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
/* line 108, ../sass/lib/reset.scss */
img, object, rembed {
  max-width: 100%;
}

/* line 109, ../sass/lib/reset.scss */
img {
  -ms-interpolation-mode: bicubic;
  height: auto;
}

/* Correct overflow displayed oddly in IE9 */
/* line 115, ../sass/lib/reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Clearing floats without extra markup  */
/* line 119, ../sass/lib/reset.scss */
.clrfx {
  display: inline-block;
}

/* line 120, ../sass/lib/reset.scss */
.clrfx:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 121, ../sass/lib/reset.scss */
* html .clrfx {
  height: 1%;
}

/* line 122, ../sass/lib/reset.scss */
.clrfx {
  display: block;
}

/* line 9, ../sass/lib/typography.scss */
html {
  overflow-y: scroll;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 18, ../sass/lib/typography.scss */
body {
  font-size: 1rem;
  line-height: 1.5;
  background: #fff;
}

/* Default fonts and colors. */
/* line 25, ../sass/lib/typography.scss */
body, select, input, textarea {
  color: #808285;
}

/* line 28, ../sass/lib/typography.scss */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl,
input, select, textarea, button {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Headings
----------------------------------------------------------------------------- */
/* line 32, ../sass/lib/typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  text-rendering: optimizeLegibility;
  color: #139394;
}
/* line 36, ../sass/lib/typography.scss */
.secondary-column h1, .secondary-column h2, .secondary-column h3, .secondary-column h4, .secondary-column h5, .secondary-column h6 {
  color: white;
  font-weight: bold;
}
/* line 40, ../sass/lib/typography.scss */
.main-header h1, .main-header h2, .main-header h3, .main-header h4, .main-header h5, .main-header h6 {
  color: #808285;
}

/* Remove padding or spacing if headers are next to each other */
/* line 49, ../sass/lib/typography.scss */
h1 + h2, h1 + h3, h1 + h4, h1 + h5,
h1 + h6, h2 + h3, h2 + h4, h2 + h5,
h2 + h6, h3 + h4, h3 + h5, h3 + h6,
h4 + h5, h4 + h6, h5 + h6 {
  margin: 0;
  padding: 0;
}

/* line 56, ../sass/lib/typography.scss */
h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
  margin-top: .5rem;
}

/* line 58, ../sass/lib/typography.scss */
h1 {
  font-size: 2.00rem;
  margin-top: 0.50rem;
  line-height: 1.00;
}

/* line 59, ../sass/lib/typography.scss */
h2 {
  font-size: 1.50rem;
  margin-top: 0.75rem;
}

/* line 60, ../sass/lib/typography.scss */
h3 {
  font-size: 1.25rem;
  margin-top: 1.00rem;
  line-height: 1.00;
}

/* line 61, ../sass/lib/typography.scss */
h4 {
  font-size: 1.20rem;
  margin-top: 1.25rem;
  line-height: 1.25;
}

/* line 62, ../sass/lib/typography.scss */
h5 {
  font-size: 1.00rem;
  margin-top: 1.50rem;
}

/* line 63, ../sass/lib/typography.scss */
h6 {
  font-size: 1.00rem;
}

/* Text elements
----------------------------------------------------------------------------- */
/* line 68, ../sass/lib/typography.scss */
p {
  margin: 1rem 0 1.5rem;
}

/* line 71, ../sass/lib/typography.scss */
ul,
ol {
  margin: 0 1.5rem 1.5rem 1.5rem;
}

/* line 72, ../sass/lib/typography.scss */
ul {
  list-style-type: circle;
}

/* line 73, ../sass/lib/typography.scss */
ol {
  list-style-type: decimal;
}

/* line 75, ../sass/lib/typography.scss */
dl {
  margin: 0 0 1.5rem 0;
}
/* line 77, ../sass/lib/typography.scss */
dl dt {
  font-weight: bold;
}
/* line 78, ../sass/lib/typography.scss */
dl dd {
  margin-left: 1.5rem;
}

/* line 82, ../sass/lib/typography.scss */
abbr,
acronym {
  border-bottom: 1px dotted black;
}

/* line 83, ../sass/lib/typography.scss */
address {
  margin-top: 1.5rem;
  font-style: italic;
}

/* line 84, ../sass/lib/typography.scss */
del {
  color: #000;
}

/* line 86, ../sass/lib/typography.scss */
a {
  color: #139394;
  text-decoration: none;
}
/* line 89, ../sass/lib/typography.scss */
a:hover {
  border-bottom: 1px solid #139394;
}
/* line 92, ../sass/lib/typography.scss */
a:link {
  -webkit-tap-highlight-color: #ff5e99;
}

/* line 95, ../sass/lib/typography.scss */
blockquote {
  margin: 1.5rem;
}

/* line 96, ../sass/lib/typography.scss */
strong, dfn, mark {
  font-weight: bold;
}

/* line 97, ../sass/lib/typography.scss */
em, dfn, mark, i {
  font-style: italic;
}

/* line 101, ../sass/lib/typography.scss */
pre,
code {
  margin: 1.5rem 0;
  padding: 1.5rem;
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

/* line 115, ../sass/lib/typography.scss */
pre, code,
kbd, samp,
tt {
  font: 1rem/1.5 "Menlo", "Monaco", "Consolas", "Courier New", monospace;
}

/* line 116, ../sass/lib/typography.scss */
tt {
  display: block;
  margin: 1.5rem 0;
}

/* line 119, ../sass/lib/typography.scss */
mark,
ins {
  background-color: #ff9;
  color: #000;
}

/* line 120, ../sass/lib/typography.scss */
ins {
  text-decoration: none;
}

/* line 124, ../sass/lib/typography.scss */
sub,
sup {
  font-size: .75rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 125, ../sass/lib/typography.scss */
sup {
  top: -0.5rem;
}

/* line 126, ../sass/lib/typography.scss */
sub {
  bottom: -0.25rem;
}

/* line 131, ../sass/lib/typography.scss */
figure {
  margin: 0;
}

/* line 4, ../sass/lib/grid.scss */
.row {
  display: inline-block;
  display: block;
  width: 100%;
  max-width: 1140px;
  min-width: 755px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 1rem 0.5rem 1rem;
}
/* line 10, ../sass/_mixins.scss */
.row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 17, ../sass/_mixins.scss */
* html .row {
  height: 1%;
}

/* line 6, ../sass/lib/grid.scss */
[class*='col-'] {
  float: left;
  margin-left: 3.8%;
  min-height: 1px;
}

/* line 11, ../sass/lib/grid.scss */
.row [class*='col-']:first-child {
  margin-left: 0;
}

/* line 13, ../sass/lib/grid.scss */
.col-one {
  float: left;
  margin-left: 3.8%;
  min-height: 1px;
  width: 4.85%;
}

/* line 14, ../sass/lib/grid.scss */
.col-two {
  float: left;
  margin-left: 3.8%;
  min-height: 1px;
  width: 13.45%;
}

/* line 15, ../sass/lib/grid.scss */
.col-three {
  float: left;
  margin-left: 3.8%;
  min-height: 1px;
  width: 22.05%;
}

/* line 16, ../sass/lib/grid.scss */
.col-four {
  float: left;
  margin-left: 3.8%;
  min-height: 1px;
  width: 30.75%;
}

/* line 17, ../sass/lib/grid.scss */
.col-five {
  float: left;
  margin-left: 3.8%;
  min-height: 1px;
  width: 39.45%;
}

/* line 18, ../sass/lib/grid.scss */
.col-six {
  float: left;
  margin-left: 3.8%;
  min-height: 1px;
  width: 48.00%;
}

/* line 19, ../sass/lib/grid.scss */
.col-seven {
  float: left;
  margin-left: 3.8%;
  min-height: 1px;
  width: 56.75%;
}

/* line 20, ../sass/lib/grid.scss */
.col-eight {
  float: left;
  margin-left: 3.8%;
  min-height: 1px;
  width: 65.40%;
}

/* line 21, ../sass/lib/grid.scss */
.col-nine {
  float: left;
  margin-left: 3.8%;
  min-height: 1px;
  width: 74.05%;
}

/* line 22, ../sass/lib/grid.scss */
.col-ten {
  float: left;
  margin-left: 3.8%;
  min-height: 1px;
  width: 82.70%;
}

/* line 23, ../sass/lib/grid.scss */
.col-eleven {
  float: left;
  margin-left: 3.8%;
  min-height: 1px;
  width: 91.35%;
}

/* line 24, ../sass/lib/grid.scss */
.col-twelve {
  float: none;
  margin-left: auto;
  min-height: 1px;
  width: 100.00%;
}

/* line 43, ../sass/lib/forms.scss */
button,
input,
select,
textarea {
  font-size: 1rem;
  margin: 0;
  vertical-align: baseline;
}

/* line 53, ../sass/lib/forms.scss */
button,
input,
textarea {
  line-height: normal;
}

/* line 58, ../sass/lib/forms.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 68, ../sass/lib/forms.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/* line 75, ../sass/lib/forms.scss */
button {
  width: auto;
  overflow: visible;
}

/* line 80, ../sass/lib/forms.scss */
form {
  padding: 0;
  border: 0;
}

/* line 81, ../sass/lib/forms.scss */
label {
  cursor: pointer;
}

/* line 84, ../sass/lib/forms.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  margin: 0;
  padding: .4rem;
  box-shadow: inset 0 0 2px #c5c5c5;
  border: 1px solid #c5c5c5;
}

/* line 100, ../sass/lib/forms.scss */
textarea,
select[multiple],
input[type=tel],
input[type=url],
input[type=text],
input[type=date],
input[type=email],
input[type=number],
input[type=password] {
  padding: 6px 5px;
  border: 1px solid #bbbbbb;
  border-radius: 2px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

/* line 124, ../sass/lib/forms.scss */
textarea:focus,
input[type=tel],
input[type=url],
input[type=text],
input[type=date],
input[type=email],
input[type=number],
input[type=password],
input[type=text]:focus,
input[type=date]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=password]:focus,
select[multiple]:focus,
input + .add-on,
textarea + .add-on,
input:focus + .add-on,
textarea:focus + .add-on {
  -webkit-transition: border linear 0.15s, box-shadow linear 0.15s;
  -moz-transition: border linear 0.15s, box-shadow linear 0.15s;
  -ms-transition: border linear 0.15s, box-shadow linear 0.15s;
  -o-transition: border linear 0.15s, box-shadow linear 0.15s;
  transition: border linear 0.15s, box-shadow linear 0.15s;
}

/* Colors for form validity */
/* line 144, ../sass/lib/forms.scss */
input.invalid,
input:invalid,
input.invalid:focus,
input:invalid:focus,
select:invalid,
select.invalid,
select:invalid:focus,
select.invalid:focus,
textarea.invalid,
textarea:invalid,
textarea.invalid:focus,
textarea:invalid:focus {
  border: 1px solid #cd0a0a;
  background: #fef1ec;
}

/* line 151, ../sass/lib/forms.scss */
input:focus,
textarea:focus,
select[multiple]:focus {
  outline: 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  border-color: #777777;
}

/* line 157, ../sass/lib/forms.scss */
input[type=radio]:disabled {
  cursor: not-allowed;
}

/* line 163, ../sass/lib/forms.scss */
::-webkit-input-placeholder {
  color: #808285;
  font-size: .8rem;
  font-style: italic;
}

/* line 164, ../sass/lib/forms.scss */
:-ms-input-placeholder {
  color: #808285;
  font-size: .8rem;
  font-style: italic;
}

/* line 165, ../sass/lib/forms.scss */
::-moz-placeholder {
  color: #808285;
  font-size: .8rem;
  font-style: italic;
}

/* line 166, ../sass/lib/forms.scss */
:-moz-placeholder {
  color: #808285;
  font-size: .8rem;
  font-style: italic;
}

/* line 169, ../sass/lib/forms.scss */
fieldset {
  padding: 1.4rem;
  margin: 0 0 1.5rem 0;
  border: 1px solid #dddddd;
}

/* line 174, ../sass/lib/forms.scss */
legend {
  margin: 0;
  padding: 0 0.4rem;
  border: 0;
  font-weight: bold;
  font-size: 1.2rem;
}

/* line 184, ../sass/lib/forms.scss */
input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  vertical-align: text-bottom;
}

/* line 188, ../sass/lib/forms.scss */
input[type="search"] {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}

/* line 196, ../sass/lib/forms.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* line 204, ../sass/lib/forms.scss */
.forms .inline {
  clear: both;
  display: block;
  margin: 0;
}
/* line 208, ../sass/lib/forms.scss */
.forms .inline .form-row {
  margin: 0.5rem 0;
}
/* line 211, ../sass/lib/forms.scss */
.forms .inline label {
  line-height: 1;
}
/* line 215, ../sass/lib/forms.scss */
.forms textarea {
  min-height: 75px;
  resize: none;
}

/* line 222, ../sass/lib/forms.scss */
[class*='size-'],
[class*='inset-'] {
  display: inline-block;
}

/* line 224, ../sass/lib/forms.scss */
.size-mini {
  width: 50px;
}

/* line 225, ../sass/lib/forms.scss */
.size-xxsmall {
  width: 80px;
}

/* line 226, ../sass/lib/forms.scss */
.size-xsmall {
  width: 100px;
}

/* line 227, ../sass/lib/forms.scss */
.size-small {
  width: 150px;
}

/* line 228, ../sass/lib/forms.scss */
.size-medium {
  width: 200px;
}

/* line 229, ../sass/lib/forms.scss */
.size-large {
  width: 250px;
}

/* line 230, ../sass/lib/forms.scss */
.size-xlarge {
  width: 300px;
}

/* line 231, ../sass/lib/forms.scss */
.size-xxlarge {
  width: 404px;
}

/* line 232, ../sass/lib/forms.scss */
.size-fluid {
  width: 100%;
}

/* line 234, ../sass/lib/forms.scss */
[class*='inset-'] {
  padding-left: 4px;
}

/* line 235, ../sass/lib/forms.scss */
.inset-xxsmall {
  margin-left: 80px;
}

/* line 236, ../sass/lib/forms.scss */
.inset-xsmall {
  margin-left: 100px;
}

/* line 237, ../sass/lib/forms.scss */
.inset-small {
  margin-left: 150px;
}

/* line 238, ../sass/lib/forms.scss */
.inset-medium {
  margin-left: 200px;
}

/* line 239, ../sass/lib/forms.scss */
.inset-large {
  margin-left: 250px;
}

/* line 240, ../sass/lib/forms.scss */
.inset-xlarge {
  margin-left: 300px;
}

/* line 29, ../sass/lib/buttons.scss */
.btn-primary {
  margin: 0;
  padding: .5rem;
  border: 2px solid;
  display: inline-block;
  line-height: 1;
  color: white;
  background-color: #139394;
  border-color: #139394;
}
/* line 24, ../sass/lib/buttons.scss */
.btn-primary:hover {
  text-decoration: none;
  border: 2px solid;
}
/* line 34, ../sass/lib/buttons.scss */
.btn-primary:hover {
  border-color: #139394;
}

/* line 7, ../sass/lib/tables.scss */
table {
  margin-bottom: 1.4rem;
}

/* line 8, ../sass/lib/tables.scss */
th {
  border-bottom: 2px solid #dddddd;
  font-weight: bold;
}

/* line 9, ../sass/lib/tables.scss */
td {
  border-bottom: 1px solid #dddddd;
}

/* line 10, ../sass/lib/tables.scss */
th, td {
  padding: 4px 10px 4px 0;
}

/* line 11, ../sass/lib/tables.scss */
tfoot {
  font-style: italic;
}

/* line 12, ../sass/lib/tables.scss */
caption {
  background: #ffc;
}

/* line 11, ../sass/lib/helpers.scss */
small,
.small {
  font-size: 0.8rem;
  line-height: 1.875rem;
  margin-bottom: 1.875rem;
}

/* line 12, ../sass/lib/helpers.scss */
.large {
  font-size: 1.2rem;
  line-height: 2.500rem;
  margin-bottom: 1.250rem;
}

/* line 13, ../sass/lib/helpers.scss */
.quiet {
  color: #999;
}

/* line 14, ../sass/lib/helpers.scss */
.hilite {
  background-color: #ffc;
}

/* line 15, ../sass/lib/helpers.scss */
.oops {
  background-color: #f00;
  color: #fff;
}

/* line 17, ../sass/lib/helpers.scss */
.disabled {
  cursor: default;
}

/* line 18, ../sass/lib/helpers.scss */
.disabled:hover {
  color: #999;
  border-bottom: 0;
}

/* line 20, ../sass/lib/helpers.scss */
.top {
  margin-top: 0;
  padding-top: 0;
}

/* line 21, ../sass/lib/helpers.scss */
.bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}

/* line 23, ../sass/lib/helpers.scss */
.float-Left {
  float: left;
  padding-right: .5rem;
  padding-bottom: .25rem;
}

/* line 24, ../sass/lib/helpers.scss */
.float-right {
  float: right;
  padding-left: .5rem;
  padding-bottom: 0;
}

/* line 25, ../sass/lib/helpers.scss */
.float-none {
  float: none;
}

/* line 28, ../sass/lib/helpers.scss */
.col {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 37, ../sass/lib/helpers.scss */
.hidden,
.invisible {
  visibility: hidden;
}

/* line 38, ../sass/lib/helpers.scss */
.hide {
  display: none;
}

/* line 44, ../sass/lib/helpers.scss */
.visuallyhidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
}

/* line 50, ../sass/lib/helpers.scss */
.ir {
  display: block;
  text-indent: -999rem;
  overflow: hidden;
  background-repeat: no-repeat;
}

/* line 23, ../sass/base.scss */
.content-contain {
  margin: 1rem auto;
  width: 1140px;
  border: 3px solid #808285;
  box-shadow: 0 0 15px #808285;
  border-radius: 1rem;
  overflow: hidden;
}

/* line 33, ../sass/base.scss */
.main-header {
  position: relative;
  padding: 2rem 5rem;
  background-color: #f1f1f2;
  border-bottom: 3px solid #808285;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  box-shadow: 0 1px 5px rgba(128, 130, 133, 0.5);
}

/* line 43, ../sass/base.scss */
.aj-logo,
.prototypesplus-logo {
  overflow: hidden;
  text-indent: -9999px;
  position: relative;
}

/* line 48, ../sass/base.scss */
.aj-logo {
  margin: 0;
  float: right;
  top: -2rem;
  width: 264px;
  height: 244px;
  background: transparent url("/assets/img/aj-logo.png") no-repeat center center;
}
/* line 56, ../sass/base.scss */
.aj-logo a {
  display: block;
  height: 100%;
  width: 100%;
}
/* line 60, ../sass/base.scss */
.aj-logo a:hover {
  border-bottom: 0;
}

/* line 65, ../sass/base.scss */
.prototypesplus-logo {
  top: 0;
  width: 554px;
  height: 99px;
  background: transparent url("/assets/img/prototypesplus-logo.png") no-repeat center center;
  margin-bottom: 2rem;
}

/* line 73, ../sass/base.scss */
.highlight {
  color: #f99e1c;
}

/* line 78, ../sass/base.scss */
.primary-column ul {
  display: inline-block;
  display: block;
  width: 100%;
  max-width: 1140px;
  min-width: 755px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 1rem 0.5rem 1rem;
}
/* line 10, ../sass/_mixins.scss */
.primary-column ul:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 17, ../sass/_mixins.scss */
* html .primary-column ul {
  height: 1%;
}
/* line 79, ../sass/base.scss */
.primary-column li {
  float: left;
  margin-left: 3.8%;
  min-height: 1px;
  width: 39.45%;
}

/* line 82, ../sass/base.scss */
[class*="-column"] {
  padding: 2rem 5rem;
}

/* line 85, ../sass/base.scss */
.secondary-column {
  background-color: #b8e2e5;
  border-top: 3px solid #139394;
  box-shadow: inset 0 1px 5px rgba(19, 147, 148, 0.75);
}

/* line 91, ../sass/base.scss */
.footer {
  color: white;
  background-color: #808285;
}
/* line 92, ../sass/base.scss */
.footer p {
  margin: 0;
  font-size: .8rem;
  padding: .5rem;
  line-height: 1;
}
/* line 98, ../sass/base.scss */
.footer a {
  color: white;
  font-weight: bold;
}
