body
{
scrollbar-face-color:		#C9B79C;
scrollbar-highlight-color:	#E2D1B7;
scrollbar-shadow-color:		#84827D;
scrollbar-3dlight-color:	#B4975A;
scrollbar-arrow-color:		#84827D;
scrollbar-track-color:		#E8E8E8;
scrollbar-darkshadow-color:	#E8E8E8;
scrollbar-background-color:	#E8E8E8;
} 